$dy-upload-width: 290px !default;
$dy-upload-height: 102px !default;
$dy-upload-border-color: $dy-border-color-base !default;
$dy-upload-border-color-init: #afafaf !default;
$dy-upload-border-color-dropover: #afafaf !default;
$dy-upload-backgroud: #f3f3f3 !default;
$dy-upload-error-font-size: 12px !default;

.dy-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $dy-upload-width;
  height: $dy-upload-height;
  font-size: 14px;
  line-height: 12px;
  background: $dy-upload-backgroud;
  border-radius: $dy-border-radius;
  border-width: 2px;
  &.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  &.is-upload-available {
    &:hover {
      border: 2px dashed $dy-brand-primary-light;
    }
  }
}

.dy-upload--init {
  border: 2px dashed $dy-upload-border-color-init;
  &.is-upload-available {
    &:hover {
      .dy-upload__tip__icon {
        color: $dy-brand-primary;
      }
    }
  }
}

.dy-upload--dropover {
  border: 2px dashed $dy-upload-border-color-dropover;
  z-index: $dy-upload-z-index;
}
.dy-upload--checking,
.dy-upload--uploading {
  background-color: rgba(0, 0, 0, 0.6);
  color: $white;
  z-index: $dy-upload-z-index;
}

.dy-upload--success {
  background: $white;
  color: #080808;
  border: 1px solid $dy-border-color-base;
  .dy-upload__tip__icon {
    color: #353535;
  }
  &:not(.is-remove-disabled) {
    &:hover {
      border: 2px dashed $dy-border-color-base;
      .dy-file-uplaoder__remove {
        visibility: visible;
      }
    }
  }
}
.dy-upload--error {
  border: 2px dashed $dy-upload-border-color-init;
}
.dy-upload--faild {
  border: 2px dashed $dy-upload-border-color-init;
}

.dy-upload__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.dy-upload__uploader {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dy-upload__tip__icon {
  font-size: 28px;
  color: #c4c4c4;
}
.dy-upload__tip__text {
  vertical-align: super;
  margin-left: 5px;
  font-size: 14px;
}
.dy-file-uplaoder__text {
  color: #888888;
  font-size: 12px;
  text-align: center;
}
.dy-upload__text__limit-size {
  font-size: 15px;
  color: #1a1a1a;
  margin-top: 12px;
}
.dy-upload__text__limit-type {
  margin-top: 12px;
}
.dy-file-uplaoder__remove {
  visibility: hidden;
  color: $dy-brand-danger;
  font-size: 28px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.dy-upload__limit-size {
  margin-bottom: 10px;
}
.dy-upload__faild__text {
  font-size: 14px;
  color: $dy-form-error-color;
  vertical-align: super;
  margin-left: 5px;
}
.dy-upload__error {
  position: absolute;
  left: 0;
  bottom: -22px;
  float: left;
  color: $dy-form-error-color;
  font-size: $dy-upload-error-font-size;
}
