$dy-font-path: '~@assets/fonts' !default;
$dy-font-family: PingFangSC-Regular, Hiragino Sans GB, WenQuanYi Micro Hei,
  Microsoft YaHei, arial, sans-serif;

$dy-font-size-base: 14px !default;
$dy-font-size-base-text-placeholder: 12px !default;
