$dy-font-size-base: 12px !default;
$dy-actions-icon-font-size: 20px !default;
$dy-number-font-size: 20px !default;

$dy-content-area-margin: 20px !default;
$dy-inline-area-margin: 10px !default;
$dy-actions-icon-margin: 20px !default;

$dy-seledy-width: 160px !default;
$dy-header-height: 60px !default;

$dy-navigator-width: 240px !default;
$dy-navigator-collapsed-width: 60px !default;

$dy-tooltip-padding: 8px !default;
