.dy-form-field {
  position: relative;
  &.is-hidden {
    display: none;
  }
}
.dy-form-field__desc {
  font-size: 12px;
  color: $dy-form-desc-color;
  line-height: 20px;
}
.dy-form-field__tooltip {
  vertical-align: top;
}
.dy-form-field__tooltip__popper {
  min-width: 10px;
}
.dy-form-field__tooltip__icon {
  color: $dy-text-color-tip;
  margin-left: 6px;
  transform: rotate(180deg);
}
